{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the paper header display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables - 
data.action - form to post data to
data.previewmode - are we in question preview mode
data.papertitle - paper title
data.screen - screen display info
data.logopath - path to site logo
data.print - flag to indicate if the question is being printed
data.student - the student for the student this is feedback for

Required localised language strings -
lang.student
lang.answersscreen
lang.examprogress
#}
<div id="maincontent">
    <div class="questions">
{% if data.print == 0 %}
    <form method="post" id="qForm" name="questions" action="{{data.action}}" autocomplete="off">
    {% for number,id in data.hidden %}
        <input type="hidden" name="q{{number}}_randomID" value="{{id}}" />
    {% endfor %}
    <div>
    {# Not all information shown on question preview #}
    {% if data.previewmode %}
        <div>
    {% else %}
        <div>
            <header class="headerbar basetheme">
                <div>
                    <h1 class="paper">{{data.papertitle}}</h1>
                    {% if data.student|length > 0 %}
                        {% if data.student['name'] != '' %}
                            <span class="student">{{lang.answersscreen}} {{data.student['name']}} ({{data.student['id']}})</span>
                        {% elseif data.student['id'] != null %}
                            <span class="student">{{lang.student}} {{data.student['id']}}</span>
                        {% endif %}
                    {% endif %}
                </div>

                <div>
                    <img src="{{data.logopath}}" width="160" height="67" alt="" />
                </div>
            </header>
            {% if data.screen|length > 0 %}
                {% for s in data.screen %}
                    {% if s.screentype == 'scr_cur' %}
                        {% set current = s.pageno %}
                        <nav aria-label="{{lang.examprogress}}" class="scr_blurb basetheme">
                            {{lang.youronscreen | format(current, data.screen|length)}}
                            <div>
                    {% endif %}
                {% endfor %}
                {% for s in data.screen %}
                    <div aria-hidden="true" class="{{s.screentype}}" title="{{s.noquestions}} {{s.noquestionsclass}}">
                        {{s.pageno}}
                    </div>
                {% endfor %}
                </div>
                <div style="clear:both"></div>
                {% for s in data.screen %}
                    <div class="{{s.screentype2}}"></div>
                {% endfor %}
                </nav>
            {% endif %}
    {% endif %}
    {% if data.examclarification != '' %}
        <aside aria-label="{{lang.questionclarification}}">
            {{data.examclarification|raw}}
        </aside>
    {% endif %}
{% else %}
    <div>
        <div>
            <header class="headerbar basetheme">
                <div>
                    <h1 class="paper">{{data.papertitle}}</h1>
                    <div style="clear:both"></div>
                </div>
                <div>
                    <img src="{{data.logopath}}" width="160" height="67" alt="Logo" />
                </div>
            </header>
{% endif %}
<main class="questionarea">
