{#This file is part of Rogō

Rogō is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Rogō is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the paper index screen header.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2021 onwards The University of Nottingham

Required variables -
data.toprightmenu - the top right menu html

Required localised language strings -
lang.eassessmentmanagementsystem
#}
<nav class="header">
    <div class="headerrow">
        <div class="headercell">
            <img src="../artwork/r_logo.gif" alt="" class="logo_img" />
            <div class="logo_lrg_txt">Rogō</div>
            <div class="logo_small_txt">{{lang.eassessmentmanagementsystem}}</div>
        </div>
        <div class="headercell menu">
            <img tabindex="0" src="../artwork/toprightmenu.gif" id="toprightmenu_icon" alt="{{lang.menu}}"/>
        </div>
    </div>
</nav>
{{data.toprightmenu|raw}}
