{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the master question header display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables - 
data.unansweredkey - flag to indicate if unanswered question key should be displayed
data.displayprologue - flag to indicate if prologue should be displayed
data.prologue - prologue
data.displaytheme - flag to indicate if theme should be displayed
data.theme - theme
data.displaydefault - flag to indicate if default settings should be displayed
data.assignednumber - question number
data.displaycalc - flag to indicate if calculator should be displayed
data.displaynotes - flag to indicate if notes should be displayed
data.notes - notes

Required localised strings -
lang.unansweredquestion - unanswered questions blurb
lang.calculator - calculator
lang.note - note
lang.prologue - the question prologue label
lang.questionheader - the question landmark region name
#}
{% if data.unansweredkey %}
    <div aria-hidden="true" style="display:none" id="unansweredkey">
        <span class="unans">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {{lang.unansweredquestion}}
    </div>
{% endif %}
{% if data.displayprologue %}
    <section aria-label="{{lang.prologue}}" class="prologue">
        {{data.prologue|raw}}
    </section>
{% endif %}
{% if data.questiontype == 'info' %}
<section aria-label="{{lang.informationheader}}">
{% else %}
<section aria-label="{{lang.questionheader | format(data.assignednumber)}}">
{% endif %}
{% if data.displaytheme %}
    <div class="theme">
        {{data.theme}}
    </div>
{% endif %}
{% if data.displaydefault %}
    <div class="question-{{data.questiontype}} question-parent">
        <div class="q_no">{{data.assignednumber}}.&nbsp;
        {% if data.displaycalc %}
            <br />
            <img class="sciCalculator" src="{{path}}/artwork/calc.png" alt="{{lang.calculator}}" />
        {% endif %}
        </div>
        <div class="questionblock">
        {% if data.displaynotes %}
        <p class="note">
            <img src="{{path}}/artwork/notes_icon.gif" width="16" height="16" alt="{{lang.note}}" />
            &nbsp;<strong>{{lang.note}}:</strong>&nbsp;{{data.notes}}
        </p>
        {% endif %}
{% elseif data.questiontype == 'info' %}
    <div class="question-{{data.questiontype}} question-parent">
        <div class="questionblock">
{% endif %}
