{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the rank question type display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.questionno - question number
data.options - options
options.optionno - option number
options.optiontext - option text
options.unans - flag to indicate if option has previously been answered
options.inact - flag to indicate if option has previously been set as dismissed
options.selected - list of ranks
data.dismiss - record of which options have been dismissed by the user

Required localised text -
lang.na - not applicable
#}
<div>
    <ul class="rank question-container">
{% for i,p in data.options %}
        <li class="question-row {% if p.unans %} unans{% endif %}">
            <div class="question-cell question-label">
                <span {% if p.inact %} class="inact" {% else %} class="act" {% endif %} id="{{data.questionno}}_{{p.position}}">{{p.optiontext}}</span>
            </div>
            <div class="question-cell">
                <select aria-labelledby="{{data.questionno}}_{{p.position}}" name="{{p.optionno}}" id ="{{p.optionno}}" class="rankselect q{{data.questionno}}">
                    <option value="u"></option>
    {# Display each rank option with computed ordinal #}
    {% for idx,selected in p.selected %}
                    <option value="{{idx}}" {% if selected.value %} selected {% endif %}>
                            {% if selected.ordinal == 0 %}
                                {{lang.na}} 
                            {% else %}
                                {{selected.ordinal}}
                            {% endif %}
                    </option>
    {% endfor %}
                </select>
            </div>
        </li>
{% endfor %}
    </ul>
    <div>
        <input type="hidden" name="dismiss{{data.questionno}}" id="dismiss{{data.questionno}}" value="{{data.dismiss}}" />
    </div>
</div>
