<div class="configarea">{{attribute(lang, data.area)}}
    <div class="configareaextra">
        {% if data.area == "ims" %}
        <div id = "display_ims">
            {{lang.imssettings}} <a href = "{{path}}/plugins/ims/ims_settings.php">here</a>.
        </div>
        {% endif %}
    </div>
</div>