<div id="syncoptions">
    <div {% if data.prevenabled %} class="menuitem sms show" {% else %} class="menuitem sms hide" {% endif %} id="sms3" data-session="{{data.previous_session}}" data-id="{{data.externalid}}" data-url="{{data.url}}"><a class="help_tip" title="{{data.tooltip}}" href="#"><img class="sidebar_icon" src="../artwork/sync_16.png" alt="" />{{data.blurb}} <div class="syncyear">({{data.prev_academic_year}})</div></a></div>
    <div id="sms" class="menuitem sms" data-session="{{data.current_session}}" data-id="{{data.externalid}}" data-url="{{data.url}}"><a class="help_tip" title="{{data.tooltip}}" href="#"><img class="sidebar_icon" src="../artwork/sync_16.png" alt="" />{{data.blurb}} <div class="syncyear">({{data.academic_year}})</div></a></div>
    <div id="sms2" class="menuitem sms" data-session="{{data.next_session}}" data-id="{{data.externalid}}" data-url="{{data.url}}"><a class="help_tip" title="{{data.tooltip}}" href="#"><img class="sidebar_icon" src="../artwork/sync_16.png" alt="" />{{data.blurb}} <div class="syncyear">({{data.next_academic_year}})</div></a></div>
</div>
