<div>
    <table cellpadding="0" cellspacing="0" border="0" class="header">
        <tr>
            <th style="padding-top:4px; padding-bottom:4px; padding-left:16px">
                <img class="logo_img" src="../artwork/r_logo.gif" alt="logo" />
                <div class="logo_lrg_txt">Rog&#333; {{data.version}}</div>
                <div class="logo_small_txt">{{lang.blurb}}</div>
            </th>
            <th style="text-align:right; padding-right:10px">
                <img src="../artwork/software_64.png" width="64" height="64" alt="{{lang.altintallicon}}" />
            </th>
        </tr>
    </table>