<link rel="stylesheet" type="text/css" href="{{path}}/css/jcalc98.css"/>
<script type="text/javascript" src="{{path}}/js/jcalc98.min.js"></script>
<script type="text/javascript" src="{{path}}/js/jcalc98uon.min.js"></script>