h1 {
  font-size: 120%;
}
 
.tblform {
  margin-top: 30px;
  width: 875px;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
}

.field {
  text-align: right;
  padding-right: 6px;
  width: 125px;
}

.icon {
  width: 64px;
  height: 64px;
  border: 6px solid white;
  margin-right: 20px;
}
#staff_msg {
  width:750px;
  height:180px;
  margin:0;
}
#student_msg {
  width:750px;
  height:180px;
  margin:0;
}