body {
    font-size:90%;
    background-color:#F1F5FB
}

th {
    text-align: center;
    font-weight:normal;
    color:white;
    background-color: #295AAD
}

td {
    text-align: center
}

.separate {
    border-bottom: 1px solid #CCD9EA
}

.o {
    text-align:right;
    padding-right: 10px
}

.c1 {
    width: 65px;
    text-align:center
}

.c2 {
    width: 250px
}

.r1 {
    background-color: white
}

.r2 {
    background-color: #B3C8E8
}

.msg {
    margin-left: 5px;
    font-size: 90%;
    color: #001687
}

.overridden {
    background-color: #B3C8E8
}

.failure {
    background-color: #d99594;
}

.failure td:nth-last-child(2) {
    background-image: url('../artwork/exclamation_48.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}
