body {
    background-color:#F1F5FB;
    font-size:80%
}
.swatch {
    display:inline-block;
    width:40px;
    height:40px;
    border: 6px solid #F1F5FB
}
.dialog_header {
    font-size:200%;
    border-bottom: 1px solid #CCD9EA;
    background-image: url('../artwork/calendar_icon.png');
    background-repeat:no-repeat;
    background-position: 10px 3px;
    padding-left:66px;
    line-height:56px;
    height:56px
}
#message {
    width:100%;
    height:200px;
}
