.popupmenu {
  display: none;
  color: black;
  background-color: white;
  padding: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index:10000;
  border:1px solid #C0C0C0;
  -moz-box-shadow: 0 0 3px #A0A0A0;
  -webkit-box-shadow: 0 0 3px #A0A0A0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.popup_row {
  font-size: 90%;
  height: 20px;
  line-height: 20px;
  display: table;
  width: 100%;
  margin-right: 20px;
}
.popup_row_disabled {
  font-size: 90%;
  height: 20px;
  line-height: 20px;
  display: table;
  width: 100%;
  color: #C0C0C0;
}

.popup_row:hover {
  background-color: #FFE7A2;
}

.popup_divider_row {
  font-size: 90%;
  display: table;
  width: 100%;
  height: 7px;
}

.popup_icon {
  display: table-cell;
  width: 24px;
  padding-top: 2px;
  padding-left: 6px;
  height: auto;
}

.popup_title {
  display: table-cell;
  vertical-align: middle;
  height: auto;
  min-width: auto;
  padding-right: 20px;
  cursor: default;
}
