body {
    background-color: #FFFFFF;
    background-color: var(--paper-backgroundcolour, '#FFFFFF');
    color: #000000;
    color: var(--paper-foregroundcolour, '#000000');
    font-size: 90%;
    font-size: var(--paper-fontsize, 90%);
}

li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 100%
}

blockquote {
    font-size: 90%
}

.paper {
    font-size: 180%;
    color: white;
    font-weight: bold
}

select,button,input,textarea {
    background-color: #FFFFFF;
    background-color: var(--paper-backgroundcolour, '#FFFFFF');
    color: #000000;
    color: var(--paper-foregroundcolour, '#000000');
    font-family: Arial, sans-sarif;
    font-family: var(--paper-font, 'Arial, sans-sarif');
}
