html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  height: 100%;
  background-color: #FFFFFF;
  background-color: var(--paper-backgroundcolour, '#FFFFFF');
  color: #000000;
  color: var(--paper-foregroundcolour, '#000000');
  font-size: 90%;
  font-size: var(--paper-fontsize, 90%);
  font-family: Arial, sans-sarif;
  font-family: var(--paper-font, 'Arial, sans-sarif');
}

select,button,input,textarea,.textarea {
  background-color: #FFFFFF;
  background-color: var(--paper-backgroundcolour, '#FFFFFF');
  color: #000000;
  color: var(--paper-foregroundcolour, '#000000');
  font-family: Arial, sans-sarif;
  font-family: var(--paper-font, 'Arial, sans-sarif');
}

#maincontent.img {
  vertical-align: text-top;
}
p {
  margin-top: 0;
  padding-top: 0;
}
pre {
  font-family: Arial, sans-sarif;
  font-family: var(--paper-font, 'Arial, sans-sarif');
  font-size: 100%;
}
.paper {
  font-size: 180%;
  font-weight: bold;
  margin: 5px;
  color: #FFFFFF;
  color: var(--paper-global-themefont-color, '#FFFFFF');
}
.screens {
  margin-left: 5px;
  color: white;
  font-weight: bold;
}
.q_no {
  width: 40px;
  text-align: right;
  padding-right: 4px;
}
.theme {
  font-size: 150%;
  padding-left: 4px;
  font-weight: bold;
  color: #316AC5;
  color: var(--paper-themecolour, '#316AC5');
  padding-bottom: 4px;
}
.note {
  color: #C00000;
  color: var(--paper-notecolour, '#C00000');
}
.mk {
  color: #808080;
  color: var(--paper-markscolour, '#808080');
  font-size: 80%;
  padding-top: 4px;
  padding-bottom: 20px;
}
.calc_fb {
  color: #808080;
  color: var(--paper-markscolour, '#808080');
  font-size: 80%;
}
.act {
  color: #000000;
  color: var(--paper-foregroundcolour, '#000000');
  text-decoration: none;
}
.inact {
  color: #A5A5A5;
  color: var(--paper-dismisscolour, '#A5A5A5');
  text-decoration: line-through;
}
.scr_blurb {
  padding-bottom: 1em;
}
.scr_ans {
  font-weight: bold;
  padding: 1px;
  width: 18px;
  text-align: center;
  background-color: #003366;
  color: white;
  font-size: 80%;
  margin-right: 1px;
  float: left;
}
.scr_un {
  font-weight: bold;
  padding: 1px;
  width: 18px;
  text-align: center;
  background-color: #FFC0C0;
  background-color: var(--paper-unanswered, '#FFC0C0');
  color: #800000;
  font-size: 80%;
  margin-right: 1px;
  float: left;
}
.scr_cur {
  font-weight: bold;
  padding: 1px;
  width: 18px;
  text-align: center;
  background-color: #C00000;
  color: white;
  font-size: 80%;
  margin-right: 1px;
  float: left;
}
.scr_arrow {
  width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 8px solid #C00000;
  float: left;
}
.scr_spacer {
  width: 20px;
  height: 1px;
  margin-right: 1px;
  float: left;
}
.unans {
  background-color: #FFC0C0;
  background-color: var(--paper-unanswered, '#FFC0C0');
}
.extmatch li {
  padding-bottom: 14px;
  list-style-type: lower-roman;
}
.extmatch_opt_table {
  display: flex;
  justify-content: center;
}
.extmatch_opt_table div {
  border-collapse: collapse;
  border: 1px solid;
}
.extmatch_opt_table ol {
  list-style-type: upper-alpha;
}
.likert_button {
  width: 40px;
  vertical-align: top;
}
.thetime {
  font-size: 120%;
  width: 70px;
  text-align: center;
  font-size: 90%;
  border: 0;
}
#maincontent {
  font-size: 100%;
  top: 0;
  overflow: auto;
  height: 100%;
  display: flex;
}
.framecontent {
  padding: 6px;
  font-size: 95%;
  top: 30px;
  overflow: auto;
  border-left: 1px solid #535353;
}
.refhead {
  font-size: 14pt;
  font-weight: bold;
  border-bottom: 1px solid #5590CF;
  border-bottom: 1px solid var(--paper-global-themecolor, '#5590CF');
  padding: 6px;
  height: 18px;
  border-left: 1px solid #5590CF;
  border-left: 1px solid var(--paper-global-themecolor, '#5590CF');
}
#next {
  font-size: 100%;
  width: 8em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1px;
  margin-bottom: 1px;
}
#finish {
  font-size: 100%;
  width: 8em;
  font-weight: bold;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1px;
  margin-bottom: 1px;
}
#previous {
  font-size: 100%;
  width: 8em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1px;
  margin-bottom: 1px;
}
#savemsg {
  margin-right: 5px;
  color: #FFFFFF;
  color: var(--paper-global-themefont-color, '#FFFFFF');
}
#saveError {
  display: none;
  margin-left: 25%;
  margin-bottom: 5px;
  width: 600px;
  height: 60px;
	padding: 0;
  border: 2px solid #C42828;
  background-color: #FFC0C0;
  background-color: var(--paper-unanswered, '#FFC0C0');
}
#saveError div { 
  font-size: 110%;
  margin-top: -58px;
  margin-left: 80px;
  height:60px;
  width: 80%;
  text-align: left;
  line-height:150%;
}
.exam_announcement_box {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #FCF6CF;
  background-color: var(--paper-highlightbgcolour, '#FCF6CF');
  border: 2px solid #FCF6CF;
  border: 2px solid var(--paper-highlightbgcolour, '#FCF6CF');
}
.exam_announcement_box ul {
  margin: 0;
  padding: 0;
}
.exam_announce_icon {
  width: 56px;
  vertical-align: top;
}
.exam_announce_title {
  font-weight: bold;
  font-size: 120%;
  padding-bottom: 10px;
}
.var_error {
    background-color: #FFC0C0;
	background-color: var(--paper-unanswered, '#FFC0C0');
	padding-left: 4px;
	padding-right: 4px;
}
.labelling {
  margin-top: 8px;
}
.busyicon {
  width: 23px;
  height: 23px;
  margin-bottom: 1px;
  vertical-align: middle;
}

#fire_exit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('../artwork/fire_exit.png');
  background-repeat: no-repeat;
}
.copyright {
  width: 18em;
  font-size: 90%;
  padding-left: 10px;
}

.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background: rgba(255,255,255,.5);
}

.dialogs {
  position:absolute;
  top:100px;
  left:100px;
  width:500px;
  height:250px;
  border:3px solid #5590CF;
  border:3px solid var(--paper-global-themecolor, '#5590CF');
  background-color: #FFFFFF;
  background-color: var(--paper-backgroundcolour, '#FFFFFF');
}

.dialogs_icon {
  float: left;
  margin: 10px 15px 10px 10px;
}

.dialogs_msg {
  margin:10px 10px 10px 90px;
  text-align:left
}

.dialogs_buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dialogs_extra {
  text-align: left;
}
.callout {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
  width: 575px;
  border: 0;
  padding: 0;
}
#calloutTxt {
  padding: 6px;
	text-align: center;
  background-color: #FCF6CF;
  background-color: var(--paper-highlightbgcolour, '#FCF6CF');
}
.notch {
	position: relative;
  top: -3px;
  left: 485px;
	margin: 0;
    border-top: 12px solid #FCF6CF;
	border-top: 12px solid var(--paper-highlightbgcolour, '#FCF6CF');
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 0;
	padding: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

div.error {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #C00000;
    color: var(--paper-notecolour, '#C00000');
}

.keyworderror {
    color:#C00000;
    color: var(--paper-notecolour, '#C00000');
}
.randomerror {
    color:#C00000;
    color: var(--paper-notecolour, '#C00000');
}
.threecaption {
  font-size: small;
  color:#808080;
  color: var(--paper-markscolour, '#808080');
}

.enhancedcalc {
  padding-bottom:10px;
}

.questions {
  flex: 2
}

.references {
  flex: 1;
}

.footerbar {
  display: flex;
  flex-wrap: wrap;
  min-height: 29px;
  justify-content: space-between;
}

.timer {
  width: 14em;
  text-align: center;
}

.pause {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('../artwork/pause.png');
  background-repeat: no-repeat;
  padding-right: 5px;
}

.play {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('../artwork/play.png');
  background-repeat: no-repeat;
  padding-right: 5px;
}

.timerdiv {
  display: flex;
  align-items: center;
}

#breakstext {
  cursor: pointer;
  font-weight: bold;
}

#breaktimeremaining {
  padding-left: 25px;
}

.question-mcq .vertical .question-container:hover,
.question-mrq .question-container:hover {
  background-color: #FCF6CF;
  background-color: var(--paper-highlightbgcolour, '#FCF6CF');
}

.headerbar {
  display: flex;
  flex-wrap: wrap;
  min-height: 29px;
  justify-content: space-between;
}

.questionarea {
  margin: 5px;
}

.prologue {
  padding: 20px;
  text-align: justify;
}

.question-parent {
  display: flex;
}

.question-info {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.questionblock {
  width: 100%;
}

.question-container {
  display: table;
  table-layout: fixed;
}

.question-header {
  display: table-header-group;
}

.question-row {
  display: table-row;
}

.question-cell {
  display: table-cell;
  text-align: center;
  padding: 2px;
}

.question-sct .question-container {
  display: flex;
  width: 100%;
}

.sctbanner {
  font-weight: bold;
  margin-bottom: 4px;
}

.sctinfo, .scthyp {
  width: 100%;
}

.sctspacer {
  width: 2%;
}

.matrix .question-container {
  border: 1px solid;
  border-collapse: collapse;
  margin-left: 35px;
  margin-bottom: 15px;
  display: table;
  table-layout: fixed;
}

.rank .question-cell,
.matrix .question-cell {
  text-align: left;
}

.matrixborder {
  border: 1px solid;
}

.question-true_false .horizontal,
.question-mcq .horizontal {
  margin-top: 2em;
}

.question-true_false .horizontal li,
.question-mcq .horizontal li {
  margin-right: 2em;
  margin-bottom: 2em
}

.sct .question-cell {
  display: flex;
  align-items: baseline;
}

.blank .question-container {
  display: block;
}

.horizontal {
  display: flex;
  flex-flow: row;
}

.vertical {
  display: flex;
  flex-flow: column;
}

.question-empty-cell {
  background-image: none;
  display: table-cell;
  text-align: center;
  padding: 2px;
}

.question-placeholder-cell {
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
  display: table-cell;
  text-align: center;
  padding: 2px;
}

.matrixtable {
  border: 1px solid;
  border-collapse: collapse;
}

.hidden {
  display: none;
}

.optiontext {
  display: inline-flex;
  margin-bottom: 2em;
  align-items: baseline;
}

.basetheme {
  background-color: #5590CF;
  background-color: var(--paper-global-themecolor, '#5590CF');
  color: #FFFFFF;
  color: var(--paper-global-themefont-color, '#FFFFFF');
}

.likert-note {
  color: #C00000;
  color: var(--paper-notecolour, '#C00000');
  font-size: 80%;
}

.dichotomous-note {
  color: #C00000;
  color: var(--paper-notecolour, '#C00000');
  font-size: 90%;
}

.dichotomous-stem {
  text-align: left;
}

.overlay.is-open {
  display: block;
}
