html {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 90%;
    background-color: #F1F5FB;
}
.content {
    position: absolute;
    overflow-y: no-scroll;
    top: 0;
    bottom: 40px;
    width: 100%;
    font-size: 90%;
    background-color: white;
    margin-bottom: 30px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.r1 {
    text-indent:-23px;
    padding-left:43px;
    background-color:white;
}
.r2 {
    text-indent:-23px;
    padding-left:43px;
    background-color:#FFBD69;
}